.loader__root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.lds-ring {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50%;
  height: 40%;

}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 120px;
  height: 120px;

  border: 8px solid #fff;
  color: white;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.loader {
  &__root {
    &--info {
      position: fixed;
      display: flex;
      bottom: 0;
      right: 0;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      overflow-y: hidden;

    }
  }

  &__cnt {
    position: absolute;
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    opacity: 1;
    background-color: white;
    @media (min-width: $tablet-bkp) {
      width: 60%;
      height: 50%;
  }

  @media (min-width: $desktop-bkp) {
    width: 50%;
    height: 50%;
  }

    &__info {
      color: black;
      margin: 5%;
      font-size: 1rem;
      @media (min-width: $tablet-bkp) {
        font-size: 1.2rem;
    }
  
    @media (min-width: $desktop-bkp) {
      font-size: 1.5rem;
    }
    }
  }
}
.lds-ring {
  &--info div {
    border: 8px solid black;
  color: black;

  border-color: black transparent transparent transparent;
  }
}