.item-quantity {
    &__root {
        display: flex;
        flex-direction: column;
    }
    &__cnt {
        display: flex;
        width: 100%;
        margin-bottom: 2%;
    }
    &__btn {
            width: 1.2rem;
            height: 1.2rem;
            font-size: 0.7rem;
            margin: 0;
            border: 0;
            border-left: 0.0625rem solid black;
            color: black;
            background-color: white;
            @media (min-width: $tablet-bkp) {
                width: 2rem;
            height: 2rem;
            font-size: 1rem;
                
            }
            
            &--clickable {
                &:hover{
                    background-color: $filter-hover;
                    color: white;
                }
            }
    }
    &__remove {
        color: white;
        text-decoration: underline;
        background-color: black;
        text-align: left;
        font-size: 0.6rem;
        @media (min-width: $tablet-bkp) {
            font-size: 0.9rem;
            }
        cursor: pointer;
    }
}