.cart-modal {
    &__root {
        display: none;
        @media (min-width: $tablet-bkp) {
            //display: flex;
            background-color: white;
            position: absolute;
            right: 0;
            
            
            width: 40%;
        
        } 
    }
}