.card {
    &__img {
        border: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        position: relative;

        &--hover {
            height: auto;
            border: 0;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: contain;
            opacity: 0;
            transition: opacity 0.3s;
            @media (min-width: $desktop-bkp) {
            }
            &:hover {
                opacity: 1;
            }
        }
    }
    &__info {
        display: inline-block;
        vertical-align: middle;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        min-height: 4rem;
        font-size: 1.1rem;
        @media (min-width: $desktop-bkp) {
            min-height: 4.5rem;
        }
        &--spacing {
            @include spacing(3%, 0);
        }
        &--size {
            font-size: 0.7rem;
            @media (min-width: $tablet-bkp) {
                font-size: 1rem;
            }
            @media (min-width: $desktop-bkp) {
                font-size: 1.2rem;
            }
        }
        //Dark theme card
        &--dark {
            border-bottom: 0.0625rem solid black;
        }
    }
    &__price {
        font-weight: bold;
        position: absolute;
        top: 0;
        right: 0;
        background-color: black;
        width: 27.5%;
        height: 16%;
        display: flex;
        align-items: center;
        justify-content: center;


        &--text {
            position: absolute;
            font-size: 0.8rem;
            @media (min-width: $tablet-bkp) {
                font-size: 1.1rem;
            }
            @media (min-width: $desktop-bkp) {
                font-size: 1.2rem;
                margin-top: 10%;
            }
        }
       
    }
    &__title {
        &--dark {
            color: black;
            &:hover {
                color: $filter-hover;
            }
        }
    }
}
