.products {
    &__root {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        color: white;
        margin-bottom: 8%;
    }

    &__cnt {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        &__card {
            position: relative;
            width: 40%;
            border-bottom: 0.0625rem solid white;
            @include spacing(2%, 0);

            @media (min-width: $tablet-bkp) {
                width: 45%;
            }

            @media (min-width: $desktop-bkp) {
                width: 27.5%;
            }
        }
    }
}