.nav {
    &__root {
        //position: fixed;
        margin-top: 0;
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 6rem;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 5%;
        @include max-width;

        //background-color: white;
    }

    &__logo {
        font-size: 1.4rem;
        font-weight: bold;
        @media (min-width: $tablet-bkp) {
            font-size: 1.8rem;
        }
    }

    &__links {
        fill: white;
        text-decoration: none;
        

        display: flex;
        align-items: center;
        font-size: 0.8rem;
        

        &:hover path {
            fill: $hover-color;
        }
        &__root {
            padding: 0;
            width: 60%;
            @include nav-flex;
        }
        &--cart {
            @media (min-width: $tablet-bkp) {
                height: 1.5rem;
            width: 1.5rem;
            }
            height: 2rem;
            width: 2rem;
        }

        //Responsive
        @media (min-width: $tablet-bkp) {
            font-size: 1.2rem;
        }

        
    }
}
