.mini-image {
    &__cnt {
        width: 20%;
        height: 20%;
        margin: 0 2%;
    }
    &__title {
        color: white;
        font-size: 0.8rem;
        margin: 1.5% 3%;
    }
    &__button {

        &:hover, &:active, &:focus {
            box-shadow: 0 0 0 2px $hover-color;
        }
        &__img {
            width: 100%;
            height: 100%;
        }
    }
}