.search {
    &__btn {
        background-color: black;
        
    }
    &__icon {
        font-size: 1rem;
        color: white;
        &:hover {
            color: $hover-color;
        }
    }
}