.filter {
    &__remove {
        &--close {
            background-color: $light-gray;
            border: 0;
            height: 100%;
            &:hover {
                color: $filter-hover;
                cursor: pointer;
            }
        }
        &--icon {
            font-size: 1rem;
        }
    }
}