* {
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
  font-family: $principal-font;
  background-color: black;
  font-size: 1.4rem;
  overflow-x: hidden;
  
}
h2 {
  margin: 0;
}
p {
  margin: 0;
}
header {
  width: 100%;
}
#root {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
}


