.general__btn {
    @include spacing(2% 2%, 1rem);
    min-width: 6.5rem;
    min-height: 2rem;
    
    
    border-radius: 40px;
    border: 0;
    background-color: white;
    font-family: $principal-font;
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 $hover-color;
    transition: color .8s ease-in-out, box-shadow .7s ease-in-out;
    &:hover {
        //background-color: $hover-color;
        box-shadow: inset 30rem 0 0 0 $hover-color;
        
        //color: black;
    }
    
    @media (min-width: $tablet-bkp) {
        min-width: 11.5rem;
        min-height: 2.6rem;
        font-size: 1.2rem;
    }

    @media (min-width: $desktop-bkp) {
        font-size: 1.4rem;
    }
}
