/*Define card size and height depending on the amount of cards that are wanted to be displayed*/
@mixin card-size($width, $height) {
    width: calc(#{$width} - 2% - 4px);
    min-height: $height;
}

//Settings for card in the section of cards
@mixin card-settings {
    width: 90%;
    border-bottom: 1px solid white;
    @include spacing(2%, 0);
    //Removes border only for the last card of the cards section
    &--last {
        border: 0;
    }
    @media (min-width: $tablet-bkp) {
        width: 60%;
    }
    @media (min-width: $desktop-bkp) {
        padding: 0;
        width: 50%;
    }
}
