//Spacing for any section
@mixin spacing($margin, $padding) {
    margin: $margin;
    padding: $padding;
}

@mixin max-width {
    margin: 0 auto;
    max-width: 1300px;
}

@mixin columnCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@mixin midColumnCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}
