/*Body container*/
.body__root {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  //Hero
  .body__hero__root {
    background-image: url("https://www.publicdomainpictures.net/pictures/130000/nahled/blue-background-1440627643Oc1.jpg");
    opacity: 0.25;
    @include spacing(5% 0, 7.5%);
    //padding-top: 11rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /*CARDS*/
  
  /*container of cards*/
  .body__cards__root {
    //padding-top: 10rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  /*Responsive*/
  
  @media (min-width: 300px) {
    body {
        width: 100%;
    }
  }
  .main {
    &__root{
        @include max-width;
    }
    
}
.footer__root {
    width: 100%;
}
  
  /*Desktop*/
  @media (min-width: $desktop-bkp) {
    /*Define a width for the main container to visualize in the middle for bigger screens*/
    
  }
  

  

  //First and principal section after header
.hero {
    &__root {
        @include img-background("https://rewind.com/wp-content/uploads/2020/11/49373-gymshark-black-friday-optimized-e1595955020602.jpg");
        background-size: cover;
        background-position: 70%;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        height: 30rem;
        width: 100%;

        @media (min-width: $tablet-bkp) {
            background-position: 60%;
        }

        @media (min-width: $desktop-bkp) {
            background-position: 70%;
            height: 80vh;
            
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        text-align: center;
        margin-bottom: 28%;

        @media (min-width: $tablet-bkp) {
            width: 70%;
            
        }

        @media (min-width: $desktop-bkp) {
            margin-bottom: 18%;
        }

        //Elements
        &__element {
            &--title {                
                color: white;
                font-size: 2rem;
                @media (min-width: $tablet-bkp) {
                    font-size: 3rem;
                }
        
                @media (min-width: $desktop-bkp) {
                    font-size: 4rem;
                }
            }
        }
    }
}

//Accesories section

.accesories {
    &__root {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @media (min-width: $tablet-bkp) {
            flex-direction: row;
            flex-wrap: wrap;

        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: calc(85rem / 3);
        color: white;
        @media (min-width: $tablet-bkp) {
            width: 50%;
        }
        @media (min-width: $desktop-bkp) {
            height: calc(97.5rem / 3);
        }
        &__title {
            margin-top: 0;
        }  
        

        &__img {
            //@include img-block(100%, 100%);
            height: 80%;
            width: 100%;
            background-size: contain;
        }

        &__info {
            height: 18rem;
            
            &--2 {
                display: none;
                visibility: hidden;
                @media (min-width: $tablet-bkp) {
                    display:flex;
                    visibility: visible;
                }
            }
        }

        &__buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 80%;

            @media (min-width: $tablet-bkp) {
                
                flex-direction: column;
            }
        }
    }
}

//Cards
.cards {
    &__root {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    &__title {
        color: white;

        &__cnt {
            width: 100%;
            //background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 7rem;
        }
    }

    &__block {
        width: 100%;
    }

    &__row {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (min-width: $desktop-bkp) {
            flex-direction: row;
        }
    }

    &__card {
        @include card-settings;
        position: relative;
    }
}

//Sign up section
.signme {
    &__root {
        width: 100%;
        display: flex;
        justify-content: center;
        //background: rgb(25,25,25);
        //background: linear-gradient(90deg, rgba(25,25,25,1) 0%, rgba(117,117,117,1) 50%, rgba(25,25,25,1) 100%);
    }

    &__cnt {
        &--1 {
            display: flex;
            justify-content: center;
            width:90%;
            border-top: 3px solid $hover-color;
            @include spacing(2% 0, 0);
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;

        padding: 1rem;
        color: white;
        
        border-width: 3px;
        border-style: solid;
        border-image:
            linear-gradient(to bottom,
                $hover-color,
                rgba(0, 0, 0, 0)) 1 100%;

        @include spacing(0 0, 2%);

        &__subtitle {
            font-size: 1.2rem;
        }

        &__info {
            font-size: 0.9rem;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        @include spacing(5% 0, 0);

        &__inp {
            background-color: black;
            color: white;
            font-size: 0.9rem;
            border: none;
            border-bottom: 1px solid $hover-color;
            padding: 3% 0;
            outline: none;
            @media (min-width: $tablet-bkp) {
                width: 60%;
            }

            &[placeholder]:focus::-webkit-input-placeholder {
                transition: text-indent 0.9s 0.9s ease;
                text-indent: -100%;
                opacity: 1;
            }
        }

        &__label {
            visibility: hidden;
            color: white;
            font-size: 1rem;
            border-bottom: 4%;
            align-self: flex-start;
        }
    }
}
  
  