.checkout {
    &__cart {
        &__table {
            width: 90%;
        }
    }
    &__root {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        @media (min-width: $tablet-bkp) {
            flex-direction: row;
        }
    }
    &__cnt {
        width: 95%;
        margin-bottom: 3%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        @media (min-width: $tablet-bkp) {
            width: 50%;
            height: 80vh;
        }
        @media (min-width: $desktop-bkp) {
        }
    }
    &__info {
        &__title {
            color: white;
            font-size: 2rem;
            margin-left: 5%;
        }
    }
    &__form {
        width: 90%;
        margin-left: 5%;
        &__title {
            font-size: 1.2rem;
            color: white;
            margin: 4% 0;
            @media (min-width: $desktop-bkp) {
                font-size: 1.5rem;
            }
        }
        &__inp {
            width: 90%;
            border: 0;
            padding: 2%;
            outline: 0;
            margin-bottom: 2%;
            font-size: 0.9rem;
            border-radius: 2px;
            @media (min-width: $desktop-bkp) {
                font-size: 1.2rem;
            }
            &:focus {
                border: 0.125rem solid $form-blue;
                box-shadow: 0 0 0.09rem $form-blue;
            }
        }

        &__btn {
            width: 90%;
            margin-top: 5%;
            margin-bottom: 10%;
        }
    }
    &__error {
        display: none;
        &--text {
            font-size: 0.8rem;
            color: black;
            @media (min-width: $desktop-bkp) {
                font-size: 1.2rem;
            }
        }
        &--icon {
            color: #e22120;
            padding-right: 4%;
        }
        &--inp {
            border: 0.1rem solid #e22120;
        }
        &--label {
            display: flex;
            font-size: 0.8rem;
            color: #e22120;
            @media (min-width: $desktop-bkp) {
                font-size: 1rem;
            }
        }
        &--show {
            font-size: 0.8rem;
            color: black;
            display: flex;
            border: 0.1rem solid #e22120;
            width: 80%;
            background-color: #ffebeb;
            padding: 0.5rem;
            border-radius: 4px;
            margin-left: 5%;
        }
    }
    
}
