.cart {
    &__root {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
    }
    &__title {
        color: white;
        margin-bottom: 5%;
        text-align: center;
    }
    &__table-products {
        &__cnt {
            display: flex;
            flex-direction: column;
            width: 90%;
            border: 0.0625rem solid white;
            @media (min-width: $desktop-bkp) {
                width: 60%;
            }
            &-img {
                display: inline-block;
                vertical-align: top;
                width: 20%;
                padding: 0;
                margin: 5%;
                margin-top: 1rem;
                @media (min-width: $tablet-bkp) {
                    width: 30%;
                }
                @media (min-width: $desktop-bkp) {
                    width: 30%;
                }
            }
        }
        &__row {
            display: flex;
            width: 100%;
            border-top: 0.07rem solid white;
            margin-bottom: 3%;
        }

        &__header,
        &__header tr {
            display: flex;
            width: 100%;
            &--title {
                width: 80%;

                @media (min-width: $tablet-bkp) {
                    width: 50%;
                }
            }
            &--items {
                color: white;
                margin: 3%;
                font-size: 1rem;
            }

            &--quantity {
                width: 30%;
                @media (min-width: $tablet-bkp) {
                    width: 25%;
                }
            }
            
            &--amount {
                @media (min-width: $tablet-bkp) {
                    width: 25%;
                }
                @media (min-width: $desktop-bkp) {
                }
            }
        }
        &__cell {
            &-quantity {
                @media (min-width: $desktop-bkp) {
                    width: 35%;
                }
            }
            &-subtotal {
                display: flex;
                justify-content: end;
                width: 40%;
                color: white;
                margin-top: 1rem;
                padding-right: 0.5rem;
                font-size: 0.8rem;
                @media (min-width: $tablet-bkp) {
                    font-size: 1rem;
                    width: 35%;
                    
                }
                @media (min-width: $desktop-bkp) {
                    width: 35%;
                }
            }
            &-img {
                width: 100%;
                
            }
            &-info {
                display: flex;
                flex-direction: column;
                margin-top: 1rem;
                padding-right: 4%;
                width: 40%;
                @media (min-width: $tablet-bkp) {
                    width: 35%;
                    
                }
                @media (min-width: $desktop-bkp) {
                    width: 35%;
                }
            }
            
        }
        &__info {
            &--text {
                color: white;
                font-size: 0.8rem;
                margin-bottom: 10%;
                text-align: start;
                @media (min-width: $tablet-bkp) {
                    font-size: 1rem;
                }
            }
        }
    }
    &-show {
        display: none;
    }
    &__checkout {
        &__cnt {
            display: flex;
            justify-content: center;
            width: 90%;
            @media (min-width: $desktop-bkp) {
                width: 60%;
            }
        }
        &__btn-cnt {
            display: flex;
            justify-content: center;
            @media (min-width: $desktop-bkp) {
                width: 100%;
            }
        }
        &__btn {
            @media (min-width: $desktop-bkp) {
                width: 100%;
            }
        }
    }

    &__footer {
        width: 100%;
        display: flex;
        justify-content: end;
        border-top: 0.25rem solid white;
        & tr {
            width: 40%;
        }
        & td {
            display: block;
        }
        &__title {
            text-align: end;
            font-size: 1.2rem;
            color: white;
            padding: 5% 0;
            padding-right: 0.5rem;
        }
    }
}
