

$ghost-white: #e8e9f3ff;
//$light-gray: #cececeff;
$light-gray: #e6e6e6;
$mid-gray: #d2d2d2;
$quick-silver: #a6a6a8ff;
//$raisin-black: #272635ff;
$raisin-black: rgb(0, 0, 0);
$blizzard-blue: #b1e5f2ff;
$form-blue: #1890ff;
$form-blue-hover: #0375df;

$hover-color: #00f5d4;
$filter-hover: rgb(42, 42, 42);

