.result {
    &__root {
        position: absolute;
        background-color: $light-gray;
        width: 100%;
        height: calc(100vh - 6rem);
        overflow: auto;
        left: 0;
        @include midColumnCenter;
    }
    &__title {
        color: white;
    }
    &__filter {
        &__cnt {
            width: 80%;
            display: flex;
            margin-top: 2%;
            border-bottom: 0.05rem solid rgb(164, 164, 164);
        }
        &__inp {
            background-color: $light-gray;
            border: 0;
            outline:none;
            width: 70%;
            margin: 2%;
            padding: 0 0.5%;
            font-size: 0.7rem;
            @media (min-width: $tablet-bkp) {
                font-size: 1rem;
            }
            @media (min-width: $desktop-bkp) {
                
            }
        }
        &__remove {
            width: 30%;
            display: flex;
            justify-content: space-around;
            background-color: $light-gray;
            
            text-align: center;
            align-items: center;
            &--clear {
                color: black;
                font-size: 0.7rem;
                border: 0;
                margin-right: 10%;
                background-color: $light-gray;
                @media (min-width: $tablet-bkp) {
                    font-size: 1rem;
                }
               
                text-decoration: underline;
                text-decoration-color: black;
                &:hover {
                    color: $filter-hover;
                    cursor: pointer;
                }
            }
        }
    }

    &__cards {
        &__cnt {
            margin-top: 2%;
        }
    }
}