.product {
    &__normal-text {
        font-size: 0.8rem;
        margin: 0 2%;
        color: white;

        @media (min-width: $tablet-bkp) {
            font-size: 0.9rem;
        }

        @media (min-width: $desktop-bkp) {
            font-size: 1rem;
        }
    }

    &__root {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
        height: 100%;

        @media (min-width: $desktop-bkp) {
            flex-direction: row;
            align-items: flex-start;
        }

    }

    &__cnt {
        width: 100%;

        @media (min-width: $desktop-bkp) {
            width: 50%;
        }

        &__info {
            margin-left: 4%;
            margin-bottom: 10%;
            @media (min-width: $tablet-bkp) {
                margin-bottom: 0;
            }
        }

        &__img {
            @media (min-width: $desktop-bkp) {
                height: 70vh;
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 70%;
        margin: 5% 2%;

        @media (min-width: $tablet-bkp) {
            flex-direction: row;
            align-items: center;
        }

        &__text {
            font-size: 1.1rem;
            margin: 0 2%;

            @media (min-width: $tablet-bkp) {
                font-size: 1.3rem;
            }

            @media (min-width: $desktop-bkp) {
                font-size: 1.5rem;
            }

            &--color {
                color: white;
            }
        }

    }

    &__colors {
        width: 100%;
        display: flex;
        flex-direction: column;

        &__text {
            color: white;

            display: flex;

            &--change {
                color: lightgray;
            }
        }

        &__cards {
            display: flex;
            flex-direction: row;
        }
    }

    &__line-break {
        width: 70%;
        margin: 4% 2%;
        border-bottom: 0.0625rem solid white;
    }

    &__sizes {
        &__root {
            display: flex;
            flex-direction: column;
            margin: 0 2%;
            width: 70%;
        }

        &__text {
            color: white;
            margin: 0;
        }

        &__btn {
            margin-right: 2%;
            width: 20%;
            padding: 2%;
            font-size: 1rem;
            border-radius: 0.5rem;

            &:hover,
            &:focus,
            &:active {
                background-color: $filter-hover;
                color: white;
            }
        }
    }

    &__add {
        &__root {
            display: flex;
            flex-direction: column;
            width: 70%;
            margin: 5% 2%;
        }

        &__btn {
            width: 100%;
            border-radius: 4rem;
            font-size: 1.2rem;
            background-color: $form-blue;
            color: white;
            cursor: pointer;

            &:hover {
                background-color: $form-blue-hover;
            }
        }

        &__text {
            &--warning {
                text-decoration: underline;
            }
        }
    }

    &__general-info {
        margin: 0 2%;

        &__text {
            font-size: 0.9rem;
            margin: 3% 0;
            width: 70%;
        }
    }
}

//Bootstrap carousel adjustments

.carousel {

    @media (min-width: $desktop-bkp) {
        height: 70vh;
    }
    &-inner {
        @media (min-width: $desktop-bkp) {
            height: 70vh;
        }
    }
    &-item {
        @media (min-width: $desktop-bkp) {
            height: 70vh;
        }
    }
    &-control {
        &-next {
            @media (min-width: $desktop-bkp) {
                height: 70vh;
            }
        }
        &-prev {
            @media (min-width: $desktop-bkp) {
                height: 70vh;
            }
        }
    }
    &-indicators {
        bottom: auto;
    }
}

